

# Ignore everything by default
*

# Allow shell scripts
!*.sh

# Allow this gitignore file
!.gitignore

# Allow kbd files
!*.kbd

# Allow service files
!*.service

# Allow the kickstart_modular directory
!kickstart_modular/
!kickstart_modular/**






